.backHomeWrapper {
  margin-bottom: 20px;
}

.backHome:hover {
  text-decoration: underline;
  opacity: 0.5;
  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  margin: 30px 0;
}

.button {
  padding-right: 10px;
}

.a:hover {
  text-decoration: underline;
  opacity: 0.5;
  cursor: pointer;
}

.recipeWrapper {
  width: 50vw;
  margin: 0 auto;
}
