.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: rgb(255, 221, 169);
  padding: 0 24px 0.5rem;
}

.wrapper {
  display: flex;
}

.linkText {
  padding-right: 10px;
}

.linkText:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.contentWrapper {
  padding: 0 24px 0.5rem;
}
