.toolbar {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
}

.appBar {
  height: 64px;
  background-color: rgb(223, 146, 30);
}

.link {
  text-align: center;
  height: 64px;
  line-height: 64px;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
